# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
env/
.venv/
ENV/

# IDE-spezifisch
.idea/
.vscode/
*.swp

# Django
db.sqlite3
db.sqlite3-journal
media/ # Normalerweise nicht im Image, es sei denn, du hast einen speziellen Grund
staticfiles/ # Werden oft im Container mit collectstatic generiert

# Sonstiges
*.log
local_settings.py